@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #FBF6E2;
  background: #131842;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'ComicShannsMonoNerdFontMono-Regular';
  src: url(./fonts/ComicShannsMonoNerdFontMono-Regular.otf)
}

#comic-shanns-mono {
  font-family: ComicShannsMonoNerdFontMono-Regular;
}
